<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Authentication System</title>
    <style>
        body{
            --bg: #fff;
            --clr: #000;
            background: var(--bg);
            color: var(--clr);
        }
        a{
            --clr-link: blue;
            color: var(--clr-link);
        }
    </style>
    {% block styles %}{% endblock styles %}
  </head>
  <body>
    <nav>
        <div class="container-fluid">
          <a class="brand" href="{% url 'home' %}">Django Authentication System</a>
          <button class="toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav__menu me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              {% if user.is_superuser %}
                  <li class="nav-item">
                	<a class="nav-link active" aria-current="page" href="/admin/">Admin</a>
                  </li>
              {% endif %}
            </ul>
            <ul class="nav__menu ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>

    {% if messages %}
        <div class="container mt-3">
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <main class="my-3">
        {% block content %}{% endblock content %}
    </main>      
  </body>
</html>